{% extends 'PcPeripherals/base.html' %}

{% load static %}
{% block title %}
Api Requests
{% endblock title %}



{% block content %}
        
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
                        {% for job in response %}
                                <tr>
                                <td>{{job.id}}</td>
                                <td>{{job.first_name}}</td>
                                <td>{{job.last_name}}</td>
                                <td>{{job.email}}</td>
                                <td>{{job.user}}</td>
                                </tr>
                    {% empty %}
                            <div class="Empty_Table">
                                <p>Customer list is empty! Please input first some customers!</p2>
                                
                            </div>
                    {% endfor %}
                </tbody>
            </table>
{% endblock content %}