{% extends 'PcPeripherals/base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}

{% block content %}
    {% include "includes/navtabs.html" %}

	<div class="row" id="myRow">
		{% for product in product_lists %}
            <div class="col-lg-4">
                <a class= 'button-link-modal' href="#" id="link1" data-toggle="modal" data-target="#myModal " data-name="{{ product.name }}">
                    <img src="{{ product.imageURL }}" class="thumbnail img-responsive" >
                </a>
                
                <div class="box-element product">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    <!-- 
                    update-cart : class, used in cart.js line 1.
                    data-product=”{{product.id}}” : custom attribute, on each iteration the we will pass in the product id as the “product” attribute.
                    data-action="add" : action attribute that lets us know that when this button is clicked we want to “add” an item.
                    -->                    
                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    
                    <h4><strong>${{ product.price|floatformat:2 }}</strong></h4>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog modal-m">
                        <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                     <!--<h4 class="modal-title" id="product-name">{{ product.name }} </h4>-->
                                     <h5 class="modal-title w-100" id="product-name"></h5>
                                </div>
                                <div class="modal-body" id="showImg">
                        
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		{% endfor %}
	</div>

    {% include "includes/paginator.html" %}
{% endblock %}
