{% extends 'PcPeripherals/base.html' %}
{% load crispy_forms_tags %}

{% block title %}User Registration{% endblock title %}

{% block content %}
    <div class="container">
        <h2 class="text-center">User Registration</h2>
        <hr class="mt-0 mb-4">

        <form action="{% url 'user_registration' %}" method='POST'>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}